html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

footer {
    bottom: 0;
    height: 5rem;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-opensans {
    font-family: 'Open Sans', sans-serif;
}

.fontsize-title {
    font-size: 3.5rem;
}

.bg-color-1 {
    background-color: #051937;
}

.txt-color-0 {
    color: white;
}

.txt-color-1 {
    /* color: #051937; */
    color: #FC3E55;
}

.icon-color {
    color: red;
}

nav>div>a {
    /* color: red; */
    /* padding-bottom: 12.5px;
    border-bottom: 5px solid transparent; */
}

nav>div>a:active {
    /* color: red; */
    /* padding-bottom: 12.5px;
    border-bottom: 5px solid #FC3E55; */
}

nav>div>a:hover {
    /* color: red; */
    /* color: white;
    padding-bottom: 12.5px;
    border-bottom: 5px solid #FC3E55; */
}

nav {
    background-color: #051937;
}

.btn-cta {
    background-color: #FC3E55;
    color: white;
    border-color: transparent;
}

.btn-cta:hover {
    background-color: #c0283a;
}

.grid-zone {
    /* outline: 1px dotted rgba(0, 0, 0, 0.3);
    background-color: rgba(256, 256, 256, 0.75); */
    /* outline: 1px solid transparent;
    background-color: transparent; */
}


/* .triangle { */


/* width: 25%;
    padding-top: .75rem; */


/* } */


/* .curve { */


/* width: 75%; */


/* padding-top: 15%; */


/* vertical-align: middle; */


/* } */


/* .hero-title:hover {
    background-color: yellow;
} */

.shift-x {
    transform: translate(25px, 0);
    -webkit-transform: translate(25px, 0);
    /** Chrome & Safari **/
    -o-transform: translate(25px, 0);
    /** Opera **/
    -moz-transform: translate(25px, 0);
    /** Firefox **/
    transition: all 1s ease-in-out;
}

.shift-left {
    transform: translate(-25px, 0);
    -webkit-transform: translate(-25px, 0);
    /** Chrome & Safari **/
    -o-transform: translate(-25px, 0);
    /** Opera **/
    -moz-transform: translate(-25px, 0);
    /** Firefox **/
    transition: all 1.5s ease-in-out;
}

.logo-tristan {
    /* display: grid; */
    background-image: url("./icon-items.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50% 50%;
    /* background-color: yellow; */
    width: 3rem;
    height: 3rem;
    /* border: 2px solid yellow; */
}

.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

.Navbar {
    background-color: #46ACC2;
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    color: white;
}

.Navbar__Link {
    padding-right: 8px;
}


/* .Navbar__Items {
    display: flex;
} */

.Navbar__Items--right {
    margin-left: auto;
}

.Navbar__Link-toggle {
    display: none;
}

@media only screen and (max-width: 960px) {
    .Navbar__Items,
    .Navbar {
        flex-direction: column;
    }
    .Navbar__Items {
        display: none;
    }
    .Navbar__Items--right {
        margin-left: 0;
    }
    .Navbar__ToggleShow {
        display: inline-block;
    }
    .Navbar__Link-toggle {
        align-self: flex-end;
        display: flex;
        position: absolute;
        cursor: pointer;
        /* flex-direction: row; */
    }
}

@media (--breakpoint-not-small) {
    .fontsize-title {
        font-size: 3.5rem;
    }
    /* .nav-links {
        display: none;
        background-color: yellow;
    } */
    /* .f-6-ns,
    .f-headline-ns { font-size: 6rem; }
    .f-5-ns,
    .f-subheadline-ns { font-size: 5rem; }
    .f1-ns { font-size: 3rem; }
    .f2-ns { font-size: 2.25rem; }
    .f3-ns { font-size: 1.5rem; }
    .f4-ns { font-size: 1.25rem; }
    .f5-ns { font-size: 1rem; }
    .f6-ns { font-size: .875rem; }
    .f7-ns { font-size: .75rem; } */
}

@media (--breakpoint-medium) {
    .fontsize-title {
        font-size: 2rem;
    }
    /* .f-6-m,
    .f-headline-m { font-size: 6rem; }
    .f-5-m,
    .f-subheadline-m { font-size: 5rem; }
    .f1-m { font-size: 3rem; }
    .f2-m { font-size: 2.25rem; }
    .f3-m { font-size: 1.5rem; }
    .f4-m { font-size: 1.25rem; }
    .f5-m { font-size: 1rem; }
    .f6-m { font-size: .875rem; }
    .f7-m { font-size: .75rem; } */
}

@media (--breakpoint-large) {
    .fontsize-title {
        font-size: 3.5rem;
    }
    /* .f-6-l,
    .f-headline-l {
      font-size: 6rem;
    }
    .f-5-l,
    .f-subheadline-l {
      font-size: 5rem;
    }
    .f1-l { font-size: 3rem; }
    .f2-l { font-size: 2.25rem; }
    .f3-l { font-size: 1.5rem; }
    .f4-l { font-size: 1.25rem; }
    .f5-l { font-size: 1rem; }
    .f6-l { font-size: .875rem; }
    .f7-l { font-size: .75rem; } */
}


/* Variables */


/* Media Queries */


/*
 
   GRID
 
*/

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.col {
    max-width: 100%;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 .5rem;
}

.col1 {
    max-width: calc( 100% / 12);
    -ms-flex-preferred-size: calc( 100% / 12);
    flex-basis: calc( 100% / 12);
    padding: 0 .5rem;
}

.col2 {
    max-width: calc( ( 100% / 12) * 2);
    -ms-flex-preferred-size: calc( ( 100% / 12) * 2);
    flex-basis: calc( ( 100% / 12) * 2);
    padding: 0 .5rem;
}

.col3 {
    max-width: calc( ( 100% / 12) * 3);
    -ms-flex-preferred-size: calc( ( 100% / 12) * 3);
    flex-basis: calc( ( 100% / 12) * 3);
    padding: 0 .5rem;
}

.col4 {
    max-width: calc( ( 100% / 12) * 4);
    -ms-flex-preferred-size: calc( ( 100% / 12) * 4);
    flex-basis: calc( ( 100% / 12) * 4);
    padding: 0 .5rem;
}

.col5 {
    max-width: calc( ( 100% / 12) * 5);
    -ms-flex-preferred-size: calc( ( 100% / 12) * 5);
    flex-basis: calc( ( 100% / 12) * 5);
    padding: 0 .5rem;
}

.col6 {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0 .5rem;
}

.col7 {
    max-width: calc( ( 100% / 12) * 7);
    -ms-flex-preferred-size: calc( ( 100% / 12) * 7);
    flex-basis: calc( ( 100% / 12) * 7);
    padding: 0 .5rem;
}

.col8 {
    max-width: calc( ( 100% / 12) * 8);
    -ms-flex-preferred-size: calc( ( 100% / 12) * 8);
    flex-basis: calc( ( 100% / 12) * 8);
    padding: 0 .5rem;
}

.col9 {
    max-width: calc( ( 100% / 12) * 9);
    -ms-flex-preferred-size: calc( ( 100% / 12) * 9);
    flex-basis: calc( ( 100% / 12) * 9);
    padding: 0 .5rem;
}

.col10 {
    max-width: calc( ( 100% / 12) * 10);
    -ms-flex-preferred-size: calc( ( 100% / 12) * 10);
    flex-basis: calc( ( 100% / 12) * 10);
    padding: 0 .5rem;
}

.col11 {
    max-width: calc( ( 100% / 12) * 11);
    -ms-flex-preferred-size: calc( ( 100% / 12) * 11);
    flex-basis: calc( ( 100% / 12) * 11);
    padding: 0 .5rem;
}

.col12 {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 0 .5rem;
}

@media screen and (min-width: 30em) {
    .col-ns {
        max-width: 100%;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding: 0 .5rem;
    }
    .col1-ns {
        max-width: calc( 100% / 12);
        -ms-flex-preferred-size: calc( 100% / 12);
        flex-basis: calc( 100% / 12);
        padding: 0 .5rem;
    }
    .col2-ns {
        max-width: calc( ( 100% / 12) * 2);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 2);
        flex-basis: calc( ( 100% / 12) * 2);
        padding: 0 .5rem;
    }
    .col3-ns {
        max-width: calc( ( 100% / 12) * 3);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 3);
        flex-basis: calc( ( 100% / 12) * 3);
        padding: 0 .5rem;
    }
    .col4-ns {
        max-width: calc( ( 100% / 12) * 4);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 4);
        flex-basis: calc( ( 100% / 12) * 4);
        padding: 0 .5rem;
    }
    .col5-ns {
        max-width: calc( ( 100% / 12) * 5);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 5);
        flex-basis: calc( ( 100% / 12) * 5);
        padding: 0 .5rem;
    }
    .col6-ns {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        padding: 0 .5rem;
    }
    .col7-ns {
        max-width: calc( ( 100% / 12) * 7);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 7);
        flex-basis: calc( ( 100% / 12) * 7);
        padding: 0 .5rem;
    }
    .col8-ns {
        max-width: calc( ( 100% / 12) * 8);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 8);
        flex-basis: calc( ( 100% / 12) * 8);
        padding: 0 .5rem;
    }
    .col9-ns {
        max-width: calc( ( 100% / 12) * 9);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 9);
        flex-basis: calc( ( 100% / 12) * 9);
        padding: 0 .5rem;
    }
    .col10-ns {
        max-width: calc( ( 100% / 12) * 10);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 10);
        flex-basis: calc( ( 100% / 12) * 10);
        padding: 0 .5rem;
    }
    .col11-ns {
        max-width: calc( ( 100% / 12) * 11);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 11);
        flex-basis: calc( ( 100% / 12) * 11);
        padding: 0 .5rem;
    }
    .col12-ns {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding: 0 .5rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .col-m {
        max-width: 100%;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding: 0 .5rem;
    }
    .col1-m {
        max-width: calc( 100% / 12);
        -ms-flex-preferred-size: calc( 100% / 12);
        flex-basis: calc( 100% / 12);
        padding: 0 .5rem;
    }
    .col2-m {
        max-width: calc( ( 100% / 12) * 2);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 2);
        flex-basis: calc( ( 100% / 12) * 2);
        padding: 0 .5rem;
    }
    .col3-m {
        max-width: calc( ( 100% / 12) * 3);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 3);
        flex-basis: calc( ( 100% / 12) * 3);
        padding: 0 .5rem;
    }
    .col4-m {
        max-width: calc( ( 100% / 12) * 4);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 4);
        flex-basis: calc( ( 100% / 12) * 4);
        padding: 0 .5rem;
    }
    .col5-m {
        max-width: calc( ( 100% / 12) * 5);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 5);
        flex-basis: calc( ( 100% / 12) * 5);
        padding: 0 .5rem;
    }
    .col6-m {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        padding: 0 .5rem;
    }
    .col7-m {
        max-width: calc( ( 100% / 12) * 7);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 7);
        flex-basis: calc( ( 100% / 12) * 7);
        padding: 0 .5rem;
    }
    .col8-m {
        max-width: calc( ( 100% / 12) * 8);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 8);
        flex-basis: calc( ( 100% / 12) * 8);
        padding: 0 .5rem;
    }
    .col9-m {
        max-width: calc( ( 100% / 12) * 9);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 9);
        flex-basis: calc( ( 100% / 12) * 9);
        padding: 0 .5rem;
    }
    .col10-m {
        max-width: calc( ( 100% / 12) * 10);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 10);
        flex-basis: calc( ( 100% / 12) * 10);
        padding: 0 .5rem;
    }
    .col11-m {
        max-width: calc( ( 100% / 12) * 11);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 11);
        flex-basis: calc( ( 100% / 12) * 11);
        padding: 0 .5rem;
    }
    .col12-m {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding: 0 .5rem;
    }
    .fontsize-title {
        font-size: 3rem;
    }
}

@media screen and (min-width: 60em) {
    .col-l {
        max-width: 100%;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding: 0 .5rem;
    }
    .col1-l {
        max-width: calc( 100% / 12);
        -ms-flex-preferred-size: calc( 100% / 12);
        flex-basis: calc( 100% / 12);
        padding: 0 .5rem;
    }
    .col2-l {
        max-width: calc( ( 100% / 12) * 2);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 2);
        flex-basis: calc( ( 100% / 12) * 2);
        padding: 0 .5rem;
    }
    .col3-l {
        max-width: calc( ( 100% / 12) * 3);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 3);
        flex-basis: calc( ( 100% / 12) * 3);
        padding: 0 .5rem;
    }
    .col4-l {
        max-width: calc( ( 100% / 12) * 4);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 4);
        flex-basis: calc( ( 100% / 12) * 4);
        padding: 0 .5rem;
    }
    .col5-l {
        max-width: calc( ( 100% / 12) * 5);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 5);
        flex-basis: calc( ( 100% / 12) * 5);
        padding: 0 .5rem;
    }
    .col6-l {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        padding: 0 .5rem;
    }
    .col7-l {
        max-width: calc( ( 100% / 12) * 7);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 7);
        flex-basis: calc( ( 100% / 12) * 7);
        padding: 0 .5rem;
    }
    .col8-l {
        max-width: calc( ( 100% / 12) * 8);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 8);
        flex-basis: calc( ( 100% / 12) * 8);
        padding: 0 .5rem;
    }
    .col9-l {
        max-width: calc( ( 100% / 12) * 9);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 9);
        flex-basis: calc( ( 100% / 12) * 9);
        padding: 0 .5rem;
    }
    .col10-l {
        max-width: calc( ( 100% / 12) * 10);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 10);
        flex-basis: calc( ( 100% / 12) * 10);
        padding: 0 .5rem;
    }
    .col11-l {
        max-width: calc( ( 100% / 12) * 11);
        -ms-flex-preferred-size: calc( ( 100% / 12) * 11);
        flex-basis: calc( ( 100% / 12) * 11);
        padding: 0 .5rem;
    }
    .col12-l {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding: 0 .5rem;
    }
}